#topbar-lessontable {
  --radius: 3px;
  opacity: .6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 60%;
  transition: 1s; }

#topbar-lessontable:hover {
  opacity: .8; }

#container-lessontable {
  display: none; }

#table-lessontable {
  width: 100%;
  margin-bottom: -1px; }

#table-lessontable th {
  color: #4e6a00;
  font-weight: normal; }

#table-lessontable th, #table-lessontable td {
  border: 1px solid #ccc;
  text-align: center; }

#handler-lessontable {
  float: left;
  min-width: 15%;
  background-color: #e9f4ca;
  border: 1px solid #ccc;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, padding-top .5s;
  text-align: center;
  cursor: pointer; }

#handler-lessontable.expand {
  padding-top: 5px;
  padding-bottom: 5px; }

#handler-lessontable:hover {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6); }

#handler-lessontable:not(.expand):hover {
  padding-top: 10px; }

#handler-lessontable::after {
  content: "\25bc"; }

#handler-lessontable.expand::after {
  content: "\25b2"; }
