#topbar-lessontable {
  transition: .2s; }

#topbar-lessontable:hover {
  opacity: 1; }

#container-lessontable table,
#container-lessontable .classmain {
  background-color: transparent; }

#topbar-lessontable:hover #container-lessontable .classmain {
  background-color: #ebf2d3; }

#container-lessontable {
  -webkit-text-fill-color: transparent; }

#topbar-lessontable:hover #container-lessontable {
  -webkit-text-fill-color: initial; }

#container-lessontable a:hover, #container-lessontable a.onhover {
  color: red; }

#container-lessontable .preview {
  position: absolute; }

#container-lessontable .classtit {
  cursor: pointer; }

#topbar-lessontable:has(> #handler-lessontable:not(.expand)) {
  opacity: .5; }

body select {
  font-size: 14px;
  padding: 6px 12px;
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, padding-top .5s;
  display: inline-block;
  cursor: pointer; }

body select:hover {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6); }

.dataTable a {
  color: #337ab7;
  text-decoration: none; }

.dataTable a:focus, .dataTable a:hover {
  color: #23527c;
  text-decoration: underline; }

.dataTable a:active, .dataTable a:hover {
  outline: 0; }

.dataTables_length, .dataTables_paginate span {
  font-size: 14px; }

.table-available > thead > tr {
  background-color: var(--color-head); }

.table-available td, .table-available th {
  font-size: 14px;
  text-align: center; }

.table-available tr > td:last-child > a {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
  background-color: #eee; }

.modal:not(#modal-waiting) {
  width: auto; }

.blocker::before {
  height: 0; }

.refresh-modal {
  margin-right: 10px;
  float: right; }

.table-datail > tbody > tr > td:first-child,
.table-datail > tbody > tr > td:last-child {
  cursor: auto; }

.table-datail > tbody > tr > td:nth-child(3),
.table-datail > tbody > tr > td:nth-child(9),
.table-datail > tbody > tr > td:nth-child(10) {
  font-size: small; }
