<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <title></title>

    <link href="/vendor/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap-submenu-2.0.4/css/bootstrap-submenu.min.css" rel="stylesheet" />
    <link href="/views/sdtMain/sdtMain.css" rel="stylesheet" />

    <script src="/vendor/jquery-3.1.1.min.js"></script>
    <script src="/vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/vendor/bootstrap-submenu-2.0.4/js/bootstrap-submenu.min.js"></script>
    <script src="/views/sdtMain/sdtMain.js"></script>
  </head>

  <body>
    <header id="header">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div id="navbar" class="navbar-collapse collapse"></div>
        </div>
      </nav>
    </header>

    <iframe id="main"></iframe>

  </body>
</html>
