.table-entry > tbody > tr {
  cursor: pointer; }

.table-entry > tbody >  tr:hover, .preview {
  background-color: var(--color-hover) !important; }

.not-full {
  background-color: var(--color-not-full) !important; }

.full {
  background-color: var(--color-full) !important; }

.confilcted {
  background-color: var(--color-confilcted) !important; }

.choosen {
  background-color: var(--color-choosen) !important; }

.unavailable {
  background-color: var(--color-unavailable) !important; }

.full, .confilcted, .unavailable {
  cursor: not-allowed;
  color: gray !important; }
