.table-entry > tbody > tr:not(.loading):hover > td:not(:only-child) {
  cursor: pointer; }

.table-entry .loading,
.table-entry > tbody > tr:not(.loading):hover > td:not(:only-child) {
  background-color: var(--color-hover); }

.table-entry .not-full {
  background-color: var(--color-not-full); }

.table-entry .full {
  background-color: var(--color-full); }

.table-entry .confilcted {
  background-color: var(--color-confilcted); }

.table-entry .choosen {
  background-color: var(--color-choosen); }

.table-entry .unavailable {
  background-color: var(--color-unavailable); }

.table-entry .full, .table-entry .confilcted, .table-entry .unavailable {
  cursor: not-allowed;
  color: gray; }
