.table-entry > tbody > tr:not(.loading):hover {
  background-color: var(--color-hover); }

.table-entry .loading {
  background-color: var(--color-loading); }

.table-entry .not-full {
  background-color: var(--color-not-full); }

.table-entry .full {
  background-color: var(--color-full); }

.table-entry .confilcted {
  background-color: var(--color-confilcted); }

.table-entry .choosen {
  background-color: var(--color-choosen); }

.table-entry .unavailable {
  background-color: var(--color-unavailable); }

.table-entry > tbody > tr {
  cursor: pointer; }

.table-entry .dataTables_empty {
  cursor: auto; }

.table-entry .full, .table-entry .confilcted, .table-entry .unavailable {
  cursor: not-allowed;
  color: gray; }
