#topbar-schedule {
  --radius: 3px;
  opacity: .4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1045;
  width: 60%;
  transition: .3s; }

#topbar-schedule:hover {
  opacity: .8; }


/* container */
#container-schedule {
  display: none;
  -webkit-text-fill-color: transparent; }

#container-schedule:hover {
  -webkit-text-fill-color: initial; }

#container-schedule > table {
  font-size: x-small;
  text-align: center;
  width: 100%;
  margin-bottom: -1px; }

#container-schedule th, #container-schedule td {
  border: 1px solid #7ff;
  /* make background-color transited */
  transition: .3s; }

#container-schedule:hover th, #container-schedule:hover td {
  border: 1px solid #ccc; }

#container-schedule thead th, .classtit {
  height: 42px; }

#container-schedule thead th:first-child {
  width: 5em; }

#container-schedule tbody th, .classtit2 {
  height: 25px; }

@media (max-height: 410px) {
  #container-schedule thead th, .classtit {
    height: auto; }

  #container-schedule tbody th, .classtit2 {
    height: auto; }
}

#container-schedule th, .classtit, .classtit2 {
  color: #4e6a00;
  cursor: pointer;
  white-space: nowrap; }

#container-schedule:hover th,
#container-schedule:hover .classtit,
#container-schedule:hover .classtit2 {
  background-color: #B8C790; }

#container-schedule:hover .classmain:not(.occupied), .occupied {
  background-color: #ebf2d3; }

.occupied.confilcted {
  background-color: #FFD1D1; }

#container-schedule a {
  color: black; }

.occupied:not(.multiple) {
  cursor: pointer; }

#container-schedule .occupied:not(.multiple):hover a,
#container-schedule a:hover {
  /* #container-schedule a: color */
  color: red;
  cursor: pointer;
  text-decoration: underline; }

.preview {
  position: absolute;
  background-color: var(--color-loading); }


/* handler */
#handler-schedule {
  float: left;
  min-width: 15%;
  background-color: #e9f4ca;
  border: 1px solid #ccc;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s,
      padding-top .4s, padding-bottom .4s;
  text-align: center;
  cursor: pointer; }

#handler-schedule:hover {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6); }

#handler-schedule:not(.expand):hover {
  padding-top: 5px; }

#handler-schedule::after {
  content: "\25bc"; }

#handler-schedule.expand {
  padding-top: 3px;
  padding-bottom: 2px; }

#handler-schedule.expand::after {
  content: "\25b2"; }
