body {
  min-width: 180px; }

.navbar {
  margin-bottom: 0; }

.list-group-item {
  display: flex;
  flex-direction: column; }

.list-group-item > span {
  flex: auto;
  cursor: pointer; }

.list-group-item > .list-group {
  margin-top: 10px;
  margin-bottom: 5px; }
