/* body */
body {
  margin: 8px; }


/* tabs */
body > section:not(#alert):not(#init) {
  display: none; }

#init > div {
  display: none; }

#main {
  margin-top: 15px; }


/* botton list */
.list-right {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  margin-bottom: 50px; }

.list-right > .list-right {
  padding-left: 20%;
  width: initial;
  margin-left: initial; }

.list-right > :not(:last-child) {
  margin-bottom: 3px; }

.complex-btn {
  display: flex; }

.complex-btn > :first-child {
  flex: 1; }

.complex-btn > :nth-child(2) {
  margin-left: -1px;
  padding-left: 4px;
  padding-right: 4px; }

.divider {
  margin-bottom: 3px;
  border-top: 1px solid #ddd;
  text-align: center;
  color: #aaa; }

.progress-bar-active {
  /* .progress-bar.active, .progress.active .progress-bar @ bootstrap */
  animation: progress-bar-stripes 2s linear infinite; }

#raw-type-disabled {
  pointer-events: auto; }

.list-bottom {
  position: fixed;
  bottom: 8px;
  right: 8px; }

.spinning-onhover:hover span {
  animation: spin 1s infinite linear; }

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); } }


/* popup */
#select-limited tbody > tr {
  cursor: pointer; }

.table-striped > tbody > tr.row-selected {
  background-color: #5bc0de; }

#select-out .option-select > :nth-child(2) > select {
  padding: 6px; }

.modal .divider {
  margin: 5px -5px; }

.glyphicon-remove {
  color: red; }

.modal .glyphicon {
  /* place bootstrap glyphicon in the middle */
  top: inherit;
  line-height: inherit; }

.entry-remove {
  cursor: pointer; }

.modal label {
  font-weight: normal; }

#lesson-fetch-loading, #lesson-fetch-loaded {
  display: none; }

.loading span {
  font-weight: bold;
  animation: fade-out 1s infinite; }

.loading span:nth-child(2) {
  animation-delay: 100ms; }

.loading span:nth-child(3) {
  animation-delay: 300ms; }

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; } }


/* table */
#block-available {
  overflow: hidden; }

.dataTables_filter > * {
  margin-left: 6px; }

table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  white-space: nowrap;
  /* dataTables sort */
  padding-right: 8px; }

.th-name {
  min-width: 5em; }

.th-ref, .th-type, .th-as, .th-credit, .th-hour {
  width: 10ex; }

th, td {
  text-align: center; }

td:first-child > span {
  margin-left: 6px;
  font-size: 10px; }

#wait-arrange, #select-arrange {
  z-index: 1041; }

#select-arrange > .modal-dialog {
  width: 60%; }

#table-arrange .th-note {
  width: 20%; }

#table-arrange td:first-child {
  cursor: auto; }

#table-arrange td:first-child span {
  font-size: x-small;
  white-space: nowrap; }

#table-arrange td:nth-child(4) {
  white-space: nowrap; }

#table-arrange td:nth-child(4) > p {
  margin: auto;
  display: flex; }

#table-arrange td:nth-child(4) .glyphicon {
  color: #337ab7; }

#table-arrange td:nth-child(4) .glyphicon-chevron-up, .td-pending,
#table-arrange td:nth-child(4) .glyphicon-chevron-down {
  float: right; }

#table-arrange td:nth-child(4) .glyphicon-dashed-arrow-right {
  bottom: -2px;
  font-size: 165%; }

.td-min, .td-confirmed, .td-max  {
  float: left; }

.td-max {
  color: red; }

.td-confirmed {
  color: green; }

.td-min {
  color: blue; }

.glyphicon-dashed-arrow-left {
  font-weight: bolder;
  font-size: 165%;
  margin-top: -10px; }

.glyphicon-dashed-arrow-left:before {
  content: "\21E0"; }

#table-arrange td:nth-child(5) {
  font-family: "??";
  font-size: x-small;
  text-align: initial;
  white-space: nowrap; }

#table-arrange td:nth-child(6) {
  font-size: small; }
